$font-Avenir-list: ('Avenir LT Std 55 Roman',
					'Avenir LT Std 55 Oblique',
					'Avenir LT Std 35 Light',
					'Avenir LT Std 35 Light Oblique',
					'Avenir LT Std 45 Book',
					'Avenir LT Std 45 Book Oblique',
					'Avenir LT Std 65 Medium',
					'Avenir LT Std 65 Medium Oblique',
					'Avenir LT Std 85 Heavy',
					'Avenir LT Std 85 Heavy Oblique',
					'Avenir LT Std 95 Black',
					'Avenir LT Std 95 Black Oblique'
					);
$res-4k: 2560px;
$res-laptop-L: 1440px;
$res-laptop: 1024px;
$res-tablet: 768px;
$res-mobile-L: 425px;
$res-mobile-S: 320px;